<?xml version="1.0"?>
<!-- Used by the FlickrPhotoGallery.ascx -->
<configuration>
	<configSections>
		<section name="flickr" type="Linq.Flickr.Configuration.FlickrSettings, Linq.Flickr"/>
	</configSections>
	<flickr apiKey="5d478fde802437325f0203e872abb46e" secretKey="***************" />
	<connectionStrings>
	</connectionStrings>
	<appSettings>
	</appSettings>
</configuration>
