
/*Pre-registration*/
#FamilyPreRegistration {

}

#FamilyPreRegistration ul {
	list-style-type: none;
	margin: 0 0 0 9px;
	padding: 0;
	clear: both;
	float: left;
}
#FamilyPreRegistration ul li {
	border: 1px solid #e3e3e3;
	background-color: #efefef;
	padding: 9px;
	display: block;
	margin-right: 18px;
	min-height: 140px;
	width: 382px;
	float: left;
	margin-bottom: 1em;
}
#FamilyPreRegistration label {
	display: block;
	font-weight: bold;
}
#FamilyPreRegistration input[type=text] {
	margin-bottom: 9px;
}
#FamilyPreRegistration input[type=hidden] {
	display: none;
}
#FamilyPreRegistration ul li.information, #FamilyPreRegistration ul li.children, #FamilyPreRegistration ul li.contact-info {
	width: auto;
	min-height: 50px;
}
#FamilyPreRegistration ul li.information p {
	margin-right: 18px;
	float: left;
}
#FamilyPreRegistration ul li.information p select {
	margin: 0;
}

#FamilyPreRegistration div.buttons {clear: both; margin-left: 0px;}

#FamilyPreRegistration input:focus, input.sffocus, select:focus{
	background-color:#FFFF7E;
}

/*
#FamilyPreRegistration div.buttons a {
padding: .75em;
text-align: center;
display: block;
float: left;
border: 1px solid #b4d6e8;
background-image: url('../../Content/assets/images/global/button_ctaBG.gif');
background-repeat: repeat-x;
background-position: bottom;
background-color: #ffffff;
text-decoration: none;
font-weight: bold;
width: 100px;
margin: 0px 9px 18px 9px;
}
*/
